.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.freeBox__zp2Gn {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: var(--token-dnPJOipPDPV69e);
  padding-top: 0px;
  padding-bottom: 0px;
  height: auto;
  max-height: 50px;
  min-width: 0;
}
.freeBox__zp2Gn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zp2Gn > :global(.__wab_flex-container) > *,
.freeBox__zp2Gn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zp2Gn > :global(.__wab_flex-container) > picture > img,
.freeBox__zp2Gn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 930px) {
  .freeBox__zp2Gn {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    max-height: 300px;
  }
}
@media (max-width: 930px) {
  .freeBox__zp2Gn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__zp2Gn > :global(.__wab_flex-container) > *,
  .freeBox__zp2Gn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zp2Gn > :global(.__wab_flex-container) > picture > img,
  .freeBox__zp2Gn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.logo:global(.__wab_instance) {
  width: 100%;
  height: auto;
  max-width: 246px;
  max-height: 50px;
  min-width: 0;
  display: flex;
}
.freeBox___63Gb0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  align-self: center;
}
.freeBox___63Gb0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___63Gb0 > :global(.__wab_flex-container) > *,
.freeBox___63Gb0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___63Gb0 > :global(.__wab_flex-container) > picture > img,
.freeBox___63Gb0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 930px) {
  .freeBox___63Gb0 {
    display: flex;
    width: auto;
    max-width: none;
    max-height: 50px;
    margin-top: 26px;
  }
}
.button__jZaPn:global(.__wab_instance) {
  position: relative;
}
.svg__wzF4Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hlu3K {
  color: #000000;
  font-weight: 600;
  line-height: 19.5;
}
.svg__hvJj3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___9Ii6J:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button___9Ii6J:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.svg__fOkro {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___1L3Nv {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__byFxW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__yFdj:global(.__wab_instance) {
  position: relative;
}
.svg___6SSwv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__iUg8A {
  color: #00000080;
  font-weight: 600;
  line-height: 19.5;
}
.svg__plAj9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__n3ItV {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__n3ItV > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
@media (max-width: 930px) {
  .freeBox__n3ItV {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 18px;
    min-width: 0;
  }
}
@media (max-width: 930px) {
  .freeBox__n3ItV > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 0;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__n3ItV > :global(.__wab_flex-container) > *,
  .freeBox__n3ItV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__n3ItV > :global(.__wab_flex-container) > picture > img,
  .freeBox__n3ItV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.button__f1OmQ:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 930px) {
  .button__f1OmQ:global(.__wab_instance) {
    display: none;
  }
}
.svg__wBuD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___9BbYq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__mb7Fi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lfHba {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7AcOh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
